$backgroundColor: #86de9e;
$backgroundModalColor: white;
$borderFillColor: #dde3ec;
$borderColor: #536387;
$borderFocus: #6a64f1;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
}

.main_wrapper {
  opacity: 1;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  padding: 48px;
  width: 50%;
  margin: 0 auto;
  border: 1px solid $borderColor;
  border-radius: 10px;
  background-color: $backgroundModalColor;
}

.box_wrapper {
  margin: 0 auto;
  max-width: 550px;
  width: 100%;
  background: $backgroundModalColor;
}

.name {
  width: 100%;
  padding: 13px 22px;
  border-radius: 6px;
  border: 1px solid $borderColor;
  background: $backgroundModalColor;
  font-weight: 500;
  font-size: 16px;
  color: $borderColor;
  outline: none;
  resize: none;
}

.item {
  margin-top: 10px;
  display: flex;
  gap: 15px;
  $borderFillColor: #dde3ec;
}

.formbold_btn {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  border-radius: 5px;
  padding: 13px 25px;
  border: none;
  font-weight: 500;
  background-color: $borderFocus;
  color: $backgroundModalColor;
  cursor: pointer;
}

.formbold_btn:hover {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.5);
}

.hidden {
  display: none;
}

.currency-info {
  display: flex;
  justify-content: space-evenly;
  &__name {
    font-size: 2rem;
  }
  &__details {
    font-size: 1rem;
    & p {
      margin-top: 10px;
    }
  }
}
@media (max-width: 425px) {
  .currency-info {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__details {
      text-align: center;
    }
  }
}
